## Supervised Machine Learning Homework - Predicting Credit Risk

In this assignment, you will be building a machine learning model that attempts to predict whether a loan will be approved or not.

Background
Lending services companies allow individual investors to partially fund personal loans as well as buy and sell notes backing the loans on a secondary market. This data will be used to
You will be using this data to create machine learning models to classify the risk level of given loans. Specifically, you will be comparing the Logistic Regression model and Random Forest Classifier.

In [41]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split

In [23]:
# Import the data
df = pd.read_csv('Resources/lending_data.csv')
df

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0
...,...,...,...,...,...,...,...,...
77531,19100.0,11.261,86600,0.653580,12,2,56600,1
77532,17700.0,10.662,80900,0.629172,11,2,50900,1
77533,17600.0,10.595,80300,0.626401,11,2,50300,1
77534,16300.0,10.068,75300,0.601594,10,2,45300,1
77535,15600.0,9.742,72300,0.585062,9,2,42300,1

## Consider the models

You will be creating and comparing two models on this data: a logistic regression, and a random forests classifier. Before you create, fit, and score the models, make a prediction as to which model you think will perform better. You do not need to be correct! Write down (in markdown cells in your Jupyter Notebook or in a separate document) your prediction, and provide justification for your educated guess.

In [24]:
# Assign the data to X and y
X = df[['loan_size','interest_rate','borrower_income', 'debt_to_income', 'num_of_accounts', 'derogatory_marks', 'total_debt']]
y = df['loan_status']

In [17]:
#print("Shape: ", X.shape, y.shape)

Shape:  (77536, 7) (77536,)

In [54]:
# Split the data into X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2000)

In [46]:
X_train

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
40249,9100.0,6.999,46500,0.354839,3,0,16500
41588,11200.0,7.891,54900,0.453552,5,1,24900
897,9100.0,6.974,46200,0.350649,3,0,16200
7558,10500.0,7.594,52100,0.424184,4,1,22100
73761,9800.0,7.271,49000,0.387755,4,0,19000
...,...,...,...,...,...,...,...
71849,9800.0,7.273,49000,0.387755,4,0,19000
46106,9400.0,7.126,47700,0.371069,3,0,17700
29239,9300.0,7.060,47000,0.361702,3,0,17000
4578,10100.0,7.420,50400,0.404762,4,1,20400
77040,19300.0,11.324,87200,0.655963,12,2,57200

In [111]:
# Split the data into X_train, X_test, y_train, y_test

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
32815,8200.0,6.598,42700,0.297424,2,0,12700
59572,10500.0,7.591,52000,0.423077,4,1,22000
42325,7600.0,6.351,40400,0.257426,2,0,10400
39070,9700.0,7.254,48900,0.386503,4,0,18900
42524,11800.0,8.155,57300,0.476440,6,1,27300

In [62]:
# Train a Logistic Regression model print the model score
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [63]:
classifier.fit(X_train, y_train)

LogisticRegression()

In [61]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9920037144036319
Testing Data Score: 0.9920037144036319

In [109]:
# Train a Logistic Regression model print the model score

0.9908171687990095

In [64]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(random_state=1)

In [67]:
clf.fit(X_train,y_train)

RandomForestClassifier(random_state=1)

In [68]:
print(f"Training Data Score: {clf.score(X_train, y_train)}")
print(f"Testing Data Score: {clf.score(X_test, y_test)}")

Training Data Score: 0.9972829825285459
Testing Data Score: 0.9919521254643004

In [110]:
# Train a Random Forest Classifier model and print the model score

0.9910751134956666